* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    line-height: 20px;
    font-family: myFont;
}

@font-face {
    font-family: myFont;
    src: url(../fonts/Quicksand_Book.otf);
}

.socials {
    padding-top: 7px;
}

.socials a img {
    height: 20px;
    width: 20px;
}

.socials a {
    margin: 0px 5px;
}

.socials {
    display: flex;
    justify-content: flex-end;
}

.navbar {
    height: 50px;
    background: rgba(0, 0, 0, 0.671);
    color: #ffffffe8;
    display: flex;
    justify-content: space-between;
}

.navbar .t1 {
    padding: 10px 5px;
}

.navbar ul {
    font-size: 1.3rem;
    margin: 15px 5px;
}

.navbar ul li {
    margin: 10px;
    display: inline;
    text-decoration: none;
    list-style: none;
    padding: 15px 2px;
}

.navbar ul li a {
    text-align: center;
    color: #ffffffe8;
    text-decoration: none;
}

.navbar ul li a:hover,
.navbar ul li .active {
    color: orange;
}

header {
    transition: 0.85s ease-in-out;
}

header.sticky {
    transform: translateY(-50%);
    padding: 10px 0px;
    position: fixed;
    width: 100%;
    background: black;
    z-index: 1;
}

.wallpaper {
    background: white;
}

.crop {
    margin: 10px;
}

.row4 {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

.type {
    margin: 10px 0px;
}


/* .finalrows {
    display: grid;
    grid-template-rows: repeat(3, 1fr);
} */

.services h1 {
    text-align: center;
    margin-top: 50px;
}

.product {
    border: 1px solid black;
    width: 400px;
    height: 520px;
    margin: 0 20px;
    border-radius: 30px;
    text-align: center;
    list-style: none;
}

.product li {
    margin-top: 3px;
}

button {
    margin-top: 5px;
    padding: 3px 15px;
    font-size: 1rem;
    background-color: black;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

button a {
    text-decoration: none;
    color: aliceblue;
    text-transform: uppercase;
    transition: .6s ease;
}

.buy:hover {
    background: orange;
}

.photo {
    width: 300px;
    height: 350px;
    object-fit: cover;
    padding-top: 0;
    border-radius: 10px;
}

.services h1 {
    text-transform: capitalize;
    text-decoration: underline black;
    font-weight: bold;
    font-family: 'Libre Baskerville', serif;
}

html {
    scroll-behavior: smooth;
}

#arrowup {
    position: fixed;
    z-index: 1000;
    top: 89.5%;
    left: 95.5%;
    width: 45px;
    height: 45px;
    background: rgba(255, 166, 0, 0.85);
    /* background: rgba(0, 128, 0, 0.863); */
    border-radius: 50%;
    opacity: 0;
    pointer-events: none;
    transition: .7s ease-in-out;
}

#up {
    position: fixed;
    z-index: 1000;
    top: 92%;
    left: 96%;
    width: 30px;
    height: 30px;
}

#arrowup.activeup {
    top: 90.5%;
    opacity: 1;
    pointer-events: auto;
}

footer {
    margin-top: 20px;
    background: rgba(0, 0, 0, 0.753);
    height: 280px;
    color: white;
}

.last {
    display: flex;
    justify-content: space-between;
}

footer div {
    padding: 10px;
}

footer div h3 {
    color: black;
}

footer div p {
    padding: 3px 0px;
}

.last .search h3 {
    padding-bottom: 5px;
}

.footersearch {
    border: none;
    outline: none;
    height: 30px;
}

#b3 {
    font-size: .9rem;
    color: #000000;
    text-align: center;
    border: black solid 1.5px;
    background: transparent;
    outline: none;
    width: 80px;
    height: 30px;
    transition: ease-out 0.4s;
}

#b3:hover {
    background: black;
    color: #ffffff;
}

.linearrangement {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#line {
    border: none;
    width: 80%;
    border-radius: 10px;
    height: 1px;
    background: white;
}

.l1 {
    margin-top: 10px;
    text-align: center;
}