*{
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
    background-color: rgb(255, 255, 255);
    
}



body {

  font-family: 'IBM Plex Mono', monospace;
}

header{

    display: flex;
    width: 90%;
    margin: auto;
    height: 10vh;
    align-items: center;
}


.code,.logo-container,.nav-links{
    display: flex;
}

.logo-container{
flex: 1;
width: 40px;
height: 40px;

}
.logo{
    margin: 4px;
    font-weight: 700;
    justify-items: center;
}


nav{
    flex: 3;
}

.nav-links{
    justify-content: space-around;
    list-style: none;
    
}

.nav-link {
    text-decoration: none;
    font-size: 18px;
    color: #000000;
}

nav .nav-links .nav-link::after {
    content: '';
    width: 0;
    height: 2px;
    background: #2C3539;
    display: block;
    margin: auto;
    transition: 0.5s;
}

nav .nav-links .nav-link:hover::after {
    width: 100%;
}




.code{
    flex: 1;
    justify-content: flex-end;
    width: 30px;
    height: 30px;
}

.introduction{
   font-size: 3rem;
   font-weight: 500;
   margin: auto;
   text-align: center;
   border: 1px solid rgb(0, 0, 0);
   background-color: #000000;
   padding: auto;


}

.aru-button{
  display: inline-block;
  text-decoration: none;
  color: rgb(2, 2, 2);
  border: 1px solid rgb(10, 9, 9);
  padding: 12px 34px;
  font-size: 13px;
  background: transparent;
  position: relative;
  cursor: pointer;
  justify-items: center;
  margin-left: 55rem;
  margin-bottom: 2rem;
  border-radius: 22px;

}



.aru-button:hover{
    color: rgb(255, 255, 255);
    border: 1px solid #595959;
    background: #2c3539;
    transition: 2s;
}

   .Anime img {
    height: 37.5rem;
    width: 37.5rem;;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
    display: flex;
    margin-bottom: 10px;
    max-width: 68rem;
    object-fit: fill;

    
   }

   .Anime{
    text-align: center;
    justify-content: space-between;
    flex-wrap: wrap;
   }



/* Hero section */
.hero {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2.5rem;
  max-width: 68.75rem;
  margin: auto;
}

.hero img {
  height: 37.5rem;
  width: 37.5rem;
}

.bio {
  width: 45rem;
  padding: 0.685rem;
  border-radius: 4px;
  box-shadow: 0px 2px 15px 2px rgb(0, 0, 0);
  
}
.bio:hover{
    box-shadow: 0px 2px 15px 2px rgb(32, 2, 2);
    animation: alternate;

}

.bio h1 {
  margin-bottom: var(--bottom-margin);
}

.bio p {
  line-height: 1.5rem;
  padding: 0.3rem 0;
  font-family: 'IBM Plex Mono', monospace;
}
 /* Social buttons */
 .socials {
    display: flex;
    flex-direction: column;
    position: fixed;
    right: 1%;
    bottom: 50%;
  }
  
  .socicon {
    width: 2rem;
    height: 2rem;
  }
  /* Social button ends */
  
  /* Scroll to top button */
  .scroll-up {
    position: fixed;
    right: 0.5%;
    bottom: 3%;
    cursor: pointer;
  }
  
  .up-arrow {
    width: 3rem;
    height: 3rem;
  }


  @media  screen and (max-width: 1024px) {

   .hero{
    flex-direction: column;
   }

   .navigation-bar{
    display: none;
   }

 
   .hero img{
    height: 28.5rem;
    width: 30.5rem;
   }

   .bio-title{
    text-align: center;

   }
   
   .bio{
    width: 20rem;
    padding: 0.615rem;
    justify-items: center;
    border-radius: 4px;
   }

   .batani{
    flex-direction: column;
    justify-items: center;
    margin-right: 20%;
   }

  
  }



footer {
  position: fixed;
  bottom: 0;
}

@media (max-height:800px) {
  footer {
      position: ab;
  }
  header {
      padding-top: 40px;
  }
}

.footer-distributed {
  background-color: #2d2a30;
  box-sizing: border-box;
  width: 100%;
  text-align: left;
  font: bold 16px sans-serif;
  padding: 50px 50px 60px 50px;
  margin-top: 80px;
}

.footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
  display: inline-block;
  vertical-align: top;
}

/* Footer left */

.footer-distributed .footer-left {
  width: 30%;
}

.footer-distributed h3 {
  color: #ffffff;
  font: normal 36px 'Cookie', cursive;
  margin: 0;
}


.footer-distributed h3 span {
  color: #e0ac1c;
}

/* Footer links */

.footer-distributed .footer-links {
  color: #ffffff;
  margin: 20px 0 12px;
}

.footer-distributed .footer-links a {
  display: inline-block;
  line-height: 1.8;
  text-decoration: none;
  color: inherit;
}

.footer-distributed .footer-company-name {
  color: #8f9296;
  font-size: 14px;
  font-weight: normal;
  margin: 0;
}

/* Footer Center */

.footer-distributed .footer-center {
  width: 35%;
}

.footer-distributed .footer-center i {
  background-color: #006400;
  color: #ffffff;
  font-size: 25px;
  width: 38px;
  height: 38px;
  border-radius: 50%;
  text-align: center;
  line-height: 42px;
  margin: 10px 15px;
  vertical-align: middle;
}

.footer-distributed .footer-center i.fa-envelope {
  font-size: 17px;
  line-height: 38px;
}

.footer-distributed .footer-center p {
  display: inline-block;
  color: #ffffff;
  vertical-align: middle;
  margin: 0;
}

.footer-distributed .footer-center p span {
  display: block;
  font-weight: normal;
  font-size: 14px;
  line-height: 2;
}

.footer-distributed .footer-center p a {
  color: #e0ac1c;
  text-decoration: none;
  ;
}

/* Footer Right */

.footer-distributed .footer-right {
  width: 30%;
}

.footer-distributed .footer-company-about {
  line-height: 20px;
  color: #92999f;
  font-size: 13px;
  font-weight: normal;
  margin: 0;
}

.footer-distributed .footer-company-about span {
  display: block;
  color: #ffffff;
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 20px;
}

.footer-distributed .footer-icons {
  margin-top: 25px;
}

.footer-distributed .footer-icons a {
  display: inline-block;
  width: 35px;
  height: 35px;
  cursor: pointer;
  background-color: #006400;
  border-radius: 2px;
  font-size: 20px;
  color: #ffffff;
  text-align: center;
  line-height: 35px;
  margin-right: 3px;
  margin-bottom: 5px;
}

.footer-distributed .footer-icons a:hover {
  background-color: #3F71EA;
}

.footer-links a:hover {
  color: #006400;
}

@media (max-width: 880px) {
  .footer-distributed .footer-left, .footer-distributed .footer-center, .footer-distributed .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
  }
  .footer-distributed .footer-center i {
      margin-left: 0;
  }
}       
      
